* {
	padding:0;
	margin:0;
	font-size:14px;
  outline: none;
}

.wrapper {
    width:414px;
    height:736px;
    background: royalblue;
    margin:0 auto;
    background: -webkit-linear-gradient(top, #ff3000, #ececec,#ececec);
    overflow: auto
}

a {
	color:rgb(7,17,27);
	text-decoration:none;
}

header{
    width: 414px;
    height: 40px;
    font-size: 20px;
}

header  .left-item{
    height: 40px;
    width: 60px;
    margin-top: 10px;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    float: left;
}

header  .center-item{
    height: 40px;
    width: 294px;
    margin-top: 10px;
    color: white;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    float: left;
}

.address{
    width: 374px;
    margin: 10px;
    padding: 0 10px ;
    float: left;
    color: white;
    position: relative;
}

.address>.address-right{
    width: 124px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 32%;
}

.address>.address-left{
    width: 270px;
    /*float: left;*/
}



.address>div>p{
    margin: 10px 0;
}

.address>div>.name{
    margin: 10px 10px 10px 0;
    float: left;
}

.address>div>.tel{
    margin: 10px 10px 10px 0;
    float: left;
}


.address>div>h1{
    font-size: 22px;
    width: 280px;
}

.c1{
    width: 354px;
    height: 40px;
    margin: 0 10px ;
    padding: 0 15px;
    line-height: 40px;
    float: left;
    background: white;
}

.c1-right {
    float: right;
    color: royalblue;
}

.c1-left {
    float: left;
}

.order_list{
    width: 379px;
    /*height: 552.8px;*/
    margin: 15px 10px 15px 10px ;
    padding: 15px 0px 0px 15px;
    background: white;
    float: left;
    /*position: absolute;*/
    overflow: auto
}

td{
    height: 40px;
    font-size: 14px;
    padding: 5px 0px;
}
.td_c1{
    width: 225px;
}
.td_c2{
    width: 50px;
}
.td_c3{
    width: 35px;
}

.td_c6{
    font-size: 20px;
}

#delivery_info{
    width: 379px;
    margin: 15px 10px 15px 10px ;
    padding: 15px 0px 0px 15px;
    background: white;
    overflow: auto
}

#order_info{
    width: 379px;
    margin: 15px 10px 15px 10px ;
    padding: 15px 0px 0px 15px;
    background: white;
    overflow: auto
}


#tb_title{
    margin-left: 15px;
    text-align: left;
}

#delivery_info .td_c3{
    padding-right: 15px;
    width: 60px;
    text-align: right;
}

.delivery_left{
    width: 90px;
    text-align: left;
}

.delivery_right{
    width:  259px;
    text-align: right;
}

#cancel{
    padding: 5px 0px;
    width: 70px;
    text-align: center;
    border: 1px solid darkgrey;
    border-radius: 10px;
    float: right;
    margin: 0px 20px 15px ;
}

.alert {
    display: none;
    position: fixed;
    font-size: 18px;
    top: 30%;
    left: 50%;
    min-width: 120px;
    margin-left: -75px;
    z-index: 99999;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: white;
    text-align: center;
    /*background-color: #dff0d8;*/
    background: rgba(255, 0, 0, 0.60);
}